<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    <main>


    <div class="container">

      <div class="starter-template">
        <h1>EDIT A BURGER</h1>
        <p class="lead">Use this form to build a burger.</p>
        <form class="form-horizontal" action="/burgers" method="POST">
        <fieldset>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Burger Name</label>
          <div class="col-md-6">
          <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md" required="">
          <span class="help-block">Please name your burger</span>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="meat">Meat</label>
          <div class="col-md-6">
            <select id="meat" name="meat" class="form-control">
              <option value="1">Angus Beef</option>
              <option value="2">Brisket</option>
              <option value="3">Bison</option>
              <option value="4">Elk</option>
              <option value="5">Pulled Pork</option>
              <option value="6">Pork Belly</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="temperature">Meat Temperature</label>
          <div class="col-md-6">
            <select id="temperature" name="temperature" class="form-control">
              <option value="1">Rare</option>
              <option value="2">Medium-Rare</option>
              <option value="3">Medium</option>
              <option value="4">Medium-Well</option>
              <option value="5">Well-Done</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="bun">Bun</label>
          <div class="col-md-6">
            <select id="bun" name="bun" class="form-control">
              <option value="1">Plain</option>
              <option value="2">Brioche</option>
              <option value="3">Whole Wheat</option>
              <option value="4">Sesame</option>
              <option value="5">Focaccia</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <!-- <div class="form-group">
          <label class="col-md-4 control-label" for="cheese">Cheese</label>
          <div class="col-md-6">
            <select id="cheese" name="cheese" class="form-control">
              <option value="0">None</option>
              <option value="1">American</option>
              <option value="2">Swiss</option>
              <option value="3">Cheddar</option>
              <option value="4">Queso Blando</option>
              <option value="5">Emmentaler</option>
              <option value="6">Muenster</option>
              <option value="7">Blue</option>
            </select>
          </div>
        </div> -->

        <div class="form-group">
          <label class="col-md-4 control-label" for="cheese">Cheeses</label>
          <div class="col-md-4">
          <div class="checkbox">
            <label for="cheese-0">
              <input type="checkbox" name="cheese" id="cheese-0" value="1">
              American
            </label>
            <label for="cheese-1">
              <input type="checkbox" name="cheese" id="cheese-1" value="2">
              Swiss
            </label>
            <label for="cheese-2">
              <input type="checkbox" name="cheese" id="cheese-2" value="3">
              Cheddar
            </label>
            <label for="cheese-3">
              <input type="checkbox" name="cheese" id="cheese-3" value="4">
              Queso Blanco
            </label>
            <label for="cheese-4">
              <input type="checkbox" name="cheese" id="cheese-4" value="5">
              Emmantaler
            </label>
            <label for="cheese-5">
              <input type="checkbox" name="cheese" id="cheese-5" value="6">
              Muenster
            </label>
            <label for="cheese-6">
              <input type="checkbox" name="cheese" id="cheese-6" value="7">
              Blue
            </label>
          </div>
          </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="extras">Extras</label>
          <div class="col-md-4">
          <div class="checkbox">
            <label for="extras-0">
              <input type="checkbox" name="extras" id="extras-0" value="1">
              Bacon
            </label>
            <label for="extras-1">
              <input type="checkbox" name="extras" id="extras-1" value="2">
              Tomato
            </label>
            <label for="extras-2">
              <input type="checkbox" name="extras" id="extras-2" value="3">
              Pickles
            </label>
            <label for="extras-3">
              <input type="checkbox" name="extras" id="extras-3" value="4">
              Red Onions
            </label>
            <label for="extras-4">
              <input type="checkbox" name="extras" id="extras-4" value="5">
              Caramelized Onions
            </label>
            <label for="extras-5">
              <input type="checkbox" name="extras" id="extras-5" value="6">
              Lettuce
            </label>
            <label for="extras-6">
              <input type="checkbox" name="extras" id="extras-6" value="7">
              Fried Egg
            </label>
            <label for="extras-7">
              <input type="checkbox" name="extras" id="extras-7" value="8">
              Hash Browns
            </label>
            <label for="extras-8">
              <input type="checkbox" name="extras" id="extras-8" value="9">
              Pickled Jalapenos
            </label>
            <label for="extras-9">
              <input type="checkbox" name="extras" id="extras-9" value="10">
              Roasted Red Peppers
            </label>
            <label for="extras-10">
              <input type="checkbox" name="extras" id="extras-10" value="11">
              Kale
            </label>
            <label for="extras-11">
              <input type="checkbox" name="extras" id="extras-11" value="12">
              Dijon Mustard
            </label>
            <label for="extras-12">
              <input type="checkbox" name="extras" id="extras-12" value="13">
              Maple Syrup
            </label>
            <label for="extras-13">
              <input type="checkbox" name="extras" id="extras-13" value="14">
              Ketchup
            </label>
            <label for="extras-14">
              <input type="checkbox" name="extras" id="extras-14" value="15">
              Grilled Onions
            </label>
          </div>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit">Submit</label>
          <div class="col-md-4">
            <button id="submit" type="submit" class="btn btn-lg btn-success">Burger Me!</button>
          </div>
        </div>

        </fieldset>
        </form>

      </div>

    </div><!-- /.container -->

    </main>

    <%- include ../partials/footer %>

  </body>
</html>
