<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %> 
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <%- include ../partials/nav %> 
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Burgahlicous</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->


    <%- include ../partials/footer %>
  </body>
</html>
